<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/unit</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="MVS_RUNNING_TESTS" value="1" />
	</php>
</phpunit>
